extends ../../includes/layout-auth

block content
  //- nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.navbar-header
      div.brand-wrapper
        // Brand
        div.brand-name-wrapper
          a.navbar-brand.topnav(href="/") #{title}

  div.container.container-main(role="main")
    div.password-container
      form.form-horizontal.bs-form.form-password.card#passwordForm(action="?" method='post' role="form")
        input#recordid(type="hidden", name="id", value=params.id)
        input#recordtype(type="hidden", name="type", value=params.usertype)
        input#csrf(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="redirecturl", value=url)

        h2.form-signin-heading Change Password
        
        div.text-right#old-psw
        div.form-group.row
          div.col-sm-2
            label(for="oldpassword") Old Password
          div.col-sm-10 
            input.form-control#oldpassword(name="oldpassword", type="password", maxlength="25", required autofocus)

        div.form-group.row
          div.col-sm-2
            label(for="newpassword") New Password
          div.col-sm-10 
            input.form-control#newpassword(name="newpassword", type="password", maxlength="25", required)

        div.text-right#cf-pass
        div.form-group.row
          div.col-sm-2
            label#cf-pass(for="confirmpassword") Confirm Password
          div.col-sm-10
            input.form-control#confirmpassword(name="confirmpassword", type="password", maxlength="25", required)

        div.form-actions
          button#submitBtn.btn.btn-primary.btn-block(type="submit") Update
          a.btn.btn-secondary.btn-block(href=url, role="button") Cancel

        div.clearfix
      form#postSuccessForm(method='GET', action=listUrl)  
    script.
      $(document).ready(function() {
        var pswforfirstpage = localStorage.getItem("password");
        console.log("pswforfirstpage >>", pswforfirstpage);
        

        
        $("#confirmpassword").on('change keyup',function(){
          var ori = $("#newpassword").val();
          var cf = $("#confirmpassword").val();
          //- console.log(ori,cf,ori === cf, ori.length == cf.length);
          if (ori === cf && ori.length == cf.length) {
            $("#cf-pass").html(" * Password match!").removeClass('text-danger').addClass('text-success').show();
            submitBtn.removeAttribute("disabled");
            submitBtn.classList.add("disable-btn");
          } else {
            $("#cf-pass").html(" * Password does not match!").removeClass('text-success').addClass('text-danger').show();
            submitBtn.classList.remove("disable-btn");
            submitBtn.setAttribute("disabled", "");
          }
        });

        $("#cf-pass").hide();
        $("#old-psw").hide();

        $("#oldpassword").on('change keyup',function(){
          var ori_psw = localStorage.getItem("password");
          console.log("ori_psw >>", ori_psw);
          var new_psw = $("#oldpassword").val();
          if (ori_psw == new_psw) {
            $("#old-psw").html("Password Corrected !! ").removeClass('text-danger').addClass('text-success').show();
          }
          else if( new_psw.length == 0 ){
            //$("#old-psw").html("Password Blind length !! ").removeClass('text-success').addClass('text-danger').show();
            $("#old-psw").html("Password Incorrect !! ").addClass('text-danger').hide();
          }
          else {
            $("#old-psw").html("Password Incorrect !! ").addClass('text-danger').show();
          }
          
        });

        //- $('#passwordForm').ajaxForm({
        //-   success: function(data) {
        //-     if (data.success) {
        //-       $("#alertTitle").html("Success");
        //-       $("#alertMessage").html("Save Success!");
        //-       $("#alert").addClass("alert-success").show();

        //-       var postFrm = $('#postSuccessForm');
        //-       var params = $.url(postFrm.attr('action')).param();
        //-       if (!params) {
        //-         for(var key in params) {
        //-           postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
        //-         }
        //-       }
        //-       window.setTimeout(function(){
        //-         postFrm.submit();
        //-       }, 2 * 1000);

        //-     } else {
        //-       $("#alertTitle").html("Error");
        //-       $("#alertMessage").html("Error on save!");
        //-       $("#alert").addClass("alert-danger").show();
        //-     }
        //-   }
        //- });
        
      });