div.modal.fade#dialogReply(tabindex='-1', role='dialog', aria-labelledby='orderDetail')
  div.modal-dialog.modal-lg(role='document')
    div.modal-content
      form.form-detail#entryForm(method='post', action=`${postUrl}`)
        input#orderid(type='hidden', name='id', value=params.id)
        div.modal-header
          h4.modal-title Reply
        div.modal-body        
          table#list.table.table-striped
            thead
              tr
                th #
                th
                th Title
                th Brand
                th Image
                th Item Count
                th Qty
                th Discount %
                th Ava Qty
            tbody
              each detail, index in params.details 
                tr(name="item")
                  td=index+1
                  td
                    input#itemid(type='hidden', name='itemid', value=detail.id)
                  td=detail.title 
                  td=detail.brand 
                  td
                    img(src="/file/stream?file=" +detail.imageurl, height="30px", weight="100px")
                  td=detail.itemcount
                  td=detail.quantity 
                  td
                    input#discount(type="number", name="discount", value=detail.discount)
                  td 
                    input#avalQty(type="number", name="quantity", value=detail.quantity)
              
          div.form-group.row
            label.col-sm-2.control-label
              b Total Price
            div.col-sm-10
              span=params.total
          div.form-group.row
            label.col-sm-2.control-label
              b Delivery Address
            div.col-sm-10
              span=params.address
          div.form-group.row
            label.col-sm-2.control-label
              b Delivery Fees
            div.col-sm-10
              input#deliveryfees(type="number", name="deliveryfees", value=params.deliveryfees)
              
        div.modal-footer
          button.btn.btn-secondary#dialogCancel(type='button', data-dismiss='modal') Close
          button.btn.btn-primary#dialogAccept(type='submit', role='button', data-dismiss='modal') Save
          //- button.btn.btn-primary#dialogAccept(type='button', data-dismiss='modal') Save
      form#postSuccessForm(method='GET', action=listUrl)
script.
  $(document).ready(function() {
    var token = "!{token}";
    
    $('#dialogReply').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var orderId = $('#orderid').val();
        console.log("orderId in 1 ", orderId);
        //- console.log("orderId in 2 ", $('#orderid').value());
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var postUrl = '/order/details/' + orderId;
          doSave(postUrl, token, $('#entryForm').serialize(), function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    //- $('#entryForm').ajaxForm({
    //-   url: `/order/details/fc253865-5500-4b88-a57d-715739e78a4a`, //this is the submit URL
    //-   type: 'POST', //or POST
    //-   data: $('#entryForm').serialize(),
    //-   success: function(data) {
    //-     if (data.success) {
    //-       var postFrm = $('#postSuccessForm');
    //-       var params = $.url(postFrm.attr('action')).param();
    //-       console.log("params ", params);
    //-       if (!params) {
    //-         for(var key in params) {
    //-           postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
    //-         }
    //-       }
    //-       window.setTimeout(function(){
    //-         postFrm.submit();
    //-       }, 2 * 1000);
    //-     } else {
    //-       $("#alertTitle").html("Error");
    //-       $("#alertMessage").html("Error on save!");
    //-       $("#alert").addClass("alert-danger").show();
    //-     }
    //-   }
    //- });
  });
