// Side Menu
aside.col-md-2.d-md-block.bg-light.sidebar.sidebar-hide
  div.sidebar-sticky
    if permission.dashboard.length > 0
      each dash in permission.dashboard
        ul.nav.flex-column
          li#menu-dashboard.nav-item.active
            a.nav-link(href="/" + dash.program)
              i(class=dash.icon)
              | &nbsp; #{dash.name}
              span.sr-only (current)

    if permission.manage.length > 0
      h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("admin_subitems");')
        span Adminstration
        a.d-flex.align-items-center.text-muted(href="#")
          i.fa.fa-angle-down
      div#admin_subitems.sidebar-group.collapse
        ul.nav.flex-column.mb-2
          each ma in permission.manage
            li.nav-item(id="menu-"+ ma.program )
              a.nav-link(href="/" + ma.program)
                i(class= ma.icon)
                | &nbsp; #{ma.name}

    //- if permission.general.length > 0
    //-   h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("general_subitems");')
    //-     span General
    //-     a.d-flex.align-items-center.text-muted(href="#")
    //-       i.fa.fa-angle-down
    //-   div#general_subitems.sidebar-group.collapse
    //-     ul.nav.flex-column.mb-2
    //-       each gen in permission.general
    //-         li.nav-item(id="menu-" + gen.program)
    //-           a.nav-link(href="/" + gen.program)
    //-             i(class=gen.icon)
    //-             | &nbsp; #{gen.name}

    //- if permission.info.length > 0
    //-   h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("info_subitems");')
    //-     span Info
    //-     a.d-flex.align-items-center.text-muted(href="#")
    //-       i.fa.fa-angle-down
    //-   div#info_subitems.sidebar-group.collapse
    //-     ul.nav.flex-column.mb-2
    //-       each inf in permission.info
    //-         li.nav-item(id="menu-" + inf.program)
    //-           a.nav-link(href="/" + inf.program)
    //-             i(class=inf.icon)
    //-             | &nbsp; #{inf.name}

    //- if permission.customer.length > 0
    //-   h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("customer_subitems");')
    //-     span Customer
    //-     a.d-flex.align-items-center.text-muted(href="#")
    //-       i.fa.fa-angle-down
    //-   div#customer_subitems.sidebar-group.collapse
    //-     ul.nav.flex-column.mb-2
    //-       each cus in permission.customer
    //-         li.nav-item(id="menu-"+ cus.program)
    //-           a.nav-link(href="/"+ cus.program)
    //-             i(class=cus.icon)
    //-             | &nbsp; #{cus.name}

    //- if permission.order.length > 0
      h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("order_subitems");')
        span Orders
        a.d-flex.align-items-center.text-muted(href="#")
          i.fa.fa-angle-down
      div#order_subitems.sidebar-group.collapse
        ul.nav.flex-column.mb-2
          each cat in permission.order
            li.nav-item(id="menu-"+ cat.program)
              a.nav-link(href="/" + cat.program)
                i(class=cat.icon)
                | &nbsp; #{cat.name}

      if permission.report.length > 0
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.text-muted(onclick = 'show_sub("report_subitems");')
          span Reports
          a.d-flex.align-items-center.text-muted(href="#")
            i.fa.fa-angle-down
        div#report_subitems.sidebar-group.collapse
          ul.nav.flex-column.mb-2
            each cat in permission.report
              li.nav-item(id="menu-"+ cat.program)
                a.nav-link(href="/" + cat.program)
                  i(class=cat.icon)
                  | &nbsp; #{cat.name}

script.
  $(document).ready(function(){
    $("#nav-button").on("click",function(){
      $(".sidebar").toggleClass('sidebar-show').toggleClass('sidebar-hide');
    });
  });
