extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/ads") Ads
    li.breadcrumb-item.active
      span Entry
  h1.page-header Ads Entry
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded", autocomplete='off')
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#ads(type='hidden', name='ads', value=ads)

      div.text-center#image-message
      div.form-group.row
        label.col-sm-2.control-label(for="") Image
        div.col-sm-3
          div.form-image#imageContainer
            div.image-add-continer
              button.btn.btn-light.image-add#btnImageAdd(type="button")
                span.fa.fa-plus(aria-hidden= true)
            div.image-preview-container
              input#imageurl(type="hidden", name="imageurl", value=params.imageurl, required)
              img.form-image-preview.image-preview
              div.image-delete-container
                a.image-delete(title='Remove')
                  i.fa.fa-trash

      div.text-right#ads-name
      div.form-group.row
        label.col-sm-2.control-label(for='title') Title
        div.col-sm-10
          input.form-control.mm#title(type='text', name='title', value=params.title, required)

      div.form-group.row
        label.col-sm-2.control-label(for='description') Description
        div.col-sm-10
          textarea.form-control.mm#description(name='description')= params.description

      if (params.id && params.id != "") 
        div.form-group.row
          label.col-sm-2.control-label(for='status') Status
          div.col-sm-10
            select.form-control.selectpicker#status(name='status', value=params.status, data-value=params.status, data-live-search="true", data-size="8", required)
              option(value=0) Inactive
              option(value=1) Active
  
      div.row.justify-content-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)

  script(src='/js/upload.js')
  script(src='/js/scripts-upload.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-ads').addClass('active');
      $('div#general_subitems').addClass('show');

      $("#alert").hide();
      $("#image-message").hide();

      $('a.image-delete').on('click', function(ev) {
        if (confirm('Are you sure to remove this image?')) {
          $("#imageurl").val('');
          $('img.image-preview').attr('src', '');
          $('.image-add-continer').show();
          $('.image-preview-container').hide();
        }
      });
      imageUpload('#imageContainer', '#imageurl', 'ads');

      $("#ads-name").hide();
      $("#title").on('change keyup',function(){
        var ori_ads = $("#ads").val();
        ori_ads = JSON.parse(ori_ads);
        var new_ads = $("#title").val();
        var isExit = false;
        console.log("ori ads ", ori_ads);
        var submitBtn = document.getElementById("submitBtn");

        ori_ads.forEach(ads => {
          if (!isExit) {
            if (ads.title == new_ads) {
              isExit = true;
              $("#ads-name").html("Already Exist!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            }
          }
        });
        console.log("isExit ", isExit);
        if (!isExit) {
          console.log("isExit2 ", isExit);
          $("#ads-name").hide();
          submitBtn.removeAttribute("disabled");
        }
      });

      $("#btnImageAdd").click(function(event){
        console.log("event ", event);
        console.log("imageurl ", $('#imageurl').val());
        if($('#imageurl').val()){
          console.log("imageurl ", $('#imageurl').val());
        } else {
          console.log("No imageurl");
        }
      });
      console.log("imageurl112 ", $('#imageurl').val());
      

      $("#status").Template({
        "template": "<option value='0'>Inactive</option><option value='1'>Active</option>"
      }).on('completed', function() {
        var selectedVal = $('#status').data('value');
         console.log("selected status ", selectedVal);
        if (selectedVal) {
          $("#status option[value=" + selectedVal + "]").prop('selected', true);
        }
        $('#status').selectpicker('refresh');
      });

      $('#entryForm').submit(function(event) {
        event.preventDefault();

        console.log("imageurl3 ", $('#imageurl').val());
        if(!$('#imageurl').val()){
          $("#image-message").html("Please Select Image!").addClass('text-danger').show();
        } else {
          $("#image-message").hide();
          $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: $(this).formSerialize(),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            processData: false,
            success: function(data) {
              if (data.success) {
                $("#alertTitle").html("Success");
                $("#alertMessage").html("Save Success!");
                $("#alert").addClass("alert-success").show();

                var postFrm = $('#postSuccessForm');
                var params = $.url(postFrm.attr('action')).param();
                if (!params) {
                  for (var key in params) {
                    postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                  }
                }
                window.setTimeout(function() {
                  postFrm.submit();
                }, 2 * 1000);

              } else {
                $("#alertTitle").html("Error");
                $("#alertMessage").html("Error on save!");
                $("#alert").addClass("alert-danger").show();
              }
            }
          });
        }
      });
    });
  