extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/company-info") Company Information
  h1.page-header Company Information
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded")
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)

      div.form-group.row
        label.col-sm-2.control-label(for="") Image

        div.col-sm-3
          div.form-image#imageContainer
            div.image-add-continer
              button.btn.btn-light.image-add#btnImageAdd(type="button")
                span.fa.fa-plus(aria-hidden= true)
            div.image-preview-container
              input#imageurl(type="hidden", name="imageurl", value=params.imageurl)
              img.form-image-preview.image-preview
              div.image-delete-container
                a.image-delete(title='Remove')
                  i.fa.fa-trash

      div.form-group.row
        label.col-sm-2.control-label(for='description') Description
        div.col-sm-10
          textarea.form-control.mm.info#description(name='description')= params.description

      div.form-group.row
        label.col-sm-2.control-label.mm(for='retail_phone') လက်လီဖုန်း
        div.col-sm-10
          input.form-control.mm.info#retail_phone(type="text", name="retail_phone", value=params.retail_phone, data-role="tagsinput", required)

      div.form-group.row
        label.col-sm-2.control-label.mm(for='wholesale_phone') လက်ကားဖုန်း
        div.col-sm-10
          input.form-control.mm.info#wholesale_phone(type="text", name="wholesale_phone", value=params.wholesale_phone, data-role="tagsinput", required)

      div.form-group.row
        label.col-sm-2.control-label(for='customerservice_phone') Customer Service Phone
        div.col-sm-10
          input.form-control.mm.info#customerservice_phone(type="text", name="customerservice_phone", value=params.customerservice_phone, data-role="tagsinput", required)

      div.form-group.row
        label.col-sm-2.control-label(for='address') Address
        div.col-sm-10
          textarea.form-control.mm.info#address(name='address')= params.address

      div.form-group.row
        label.col-sm-2.control-label(for='fburl') Facebook Url
        div.col-sm-10
          textarea.form-control.mm.info#fburl(name='fburl')= params.fburl
      
      div.form-group.row
        label.col-sm-2.control-label(for='mapurl') Map Url
        div.col-sm-10
          textarea.form-control.mm.info#mapurl(name='mapurl')= params.mapurl

      div.row.justify-content-center.form-actions
        button#submit.btn.btn-primary(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)

  script(src='/js/upload.js')
  script(src='/js/scripts-upload.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-company-info').addClass('active');
      $('div#general_subitems').addClass('show');

      $('a.image-delete').on('click', function(ev) {
        if (confirm('Are you sure to remove this image?')) {
          $("#imageurl").val('');
          $('img.image-preview').attr('src', '');
          $('.image-add-continer').show();
          $('.image-preview-container').hide();
        }
      })

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-company-info').addClass('active');
      //- $('div#general_subitems').addClass('show');

      $("#alert").hide();

      imageUpload('#imageContainer', '#imageurl', 'company_info');

      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") {
        $("#submit").hide();
        var info = document.getElementsByClassName("info");
        for (var index = 0; index < info.length; ++index) {
          info[index].setAttribute("disabled", "");
        }
      }
      
      //- $(document).ready(function() {
      //-   $('#fromtime').datetimepicker({
      //-     icons: {
      //-       time: 'fa fa-clock',
      //-       date: 'fa fa-calendar'
      //-     }
      //-   });
      //- })

      $('#entryForm').submit(function(event) {
        event.preventDefault();

        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: $(this).formSerialize(),
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          processData: false,
          success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for (var key in params) {
                  postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                }
              }
              window.setTimeout(function() {
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });
    });
