extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/customer") Customer
    li.breadcrumb-item.active
      span Entry
  h1.page-header Customer Entry
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      //- button.close(type='button', data-hide='alert', aria-label='Close')
      //-   span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded", autocomplete='off')
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      
      div.form-group.row#imageType
        label.col-sm-2.control-label(for="") Profile

        div.col-sm-3
          div#customerImageLabel 
          div.form-image#customerImageContainer
            div.image-add-continer.container-customer
              button.btn.btn-light.image-add#btnCustomerImgAdd(type="button")
                span.fa.fa-plus(aria-hidden= true)
            div.image-preview-container.preview-customer
              input#customerImage(type="hidden", name="imageurl", value=params.imageurl)
              img.form-image-preview.image-preview.img-preview-customer
              div.image-delete-container
                a.image-delete.image-delete-customer(title='Remove')
                  i.fa.fa-trash

      div.form-group.row
        label.col-sm-2.control-label(for='name') Name
        div.col-sm-9
          input.form-control.mm#name(type='text', name='name', value=params.name, maxlength="255", required )
      
      div.form-group.row
        label.col-sm-2.control-label(for='code') Customer Code
        div.col-sm-9
          input.form-control.mm#code(type='text', name='code', value=params.code, maxlength="255", required )

      div.text-right#mobile-no
      div.form-group.row
        label.col-sm-2.control-label(for='mobile') Mobile Phone
        div.col-sm-9
          input.form-control.mm.info#mobile(type="tel", name="mobile", value=params.mobile, maxlength="11", placeholder="tel: input mobile phone numbers",role="phone", required )

      div.form-group.row
        label.col-sm-2.control-label(for='phone') Other Phone
        div.col-sm-9
          input.form-control.mm.info#phone(type="tel", name="phone", value=params.phone, maxlength="11", role="phone", min="0")
      
      div.form-group.row
        label.col-sm-2.control-label(for='email') Email
        div.col-sm-9
          input.form-control.mm.info#email(type="text", name="email", value=params.email)

      div.form-group.row
        label.col-sm-2.control-label(for='regionid') Region
        div.col-sm-9
          select.form-control.mm.selectpicker#regionid(name='regionid', value=params.regionid, data-value=params.regionid, data-live-search="true", data-size="8", required)
            option(value="") [Select one]
      
      div.form-group.row
        label.col-sm-2.control-label(for='cityid') City
        div.col-sm-9
          select.form-control.mm.selectpicker#cityid(name='cityid', value=params.cityid, data-value=params.cityid, data-live-search="true", data-size="8", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label(for='address') Address
        div.col-sm-9
          textarea.form-control.mm#address(name='address')= params.address

      div.form-group.row
        label.col-sm-2.control-label(for='username') Username
        div.col-sm-9
          input.form-control.mm.info#username(type="text", name="username", value=params.username, required)

      div.form-group.row
        div.col-sm-2
          label.control-label(for='password') Password
        div.col-sm-9
          input.form-control.mm.info#password(type="password", name="password", value=params.password, required) 
        div.col-sm-12
          span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#password')

      div.row.justify-content-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)

  script(src='/js/upload.js')
  script(src='/js/scripts-upload.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-customer').addClass('active');
      $('div#customer_subitems').addClass('show');

      $('a.image-delete-customer').on('click', function(ev) {
        if (confirm('Are you sure to remove this image?')) {
          $("#customerImage").val('');
          $('img.image-preview').attr('src', '');
          $('.image-add-continer').show();
          $('.image-preview-container').hide();
        }
      })

      $("#alert").hide();

      imageUpload('#customerImageContainer', '#customerImage', 'customer');
      
      $("select#regionid").Template({
        "template": "<option value='${=id}'>${=region}</option>",
        "ajax": {
          url: "/api/region",
          "headers": { "authorization": "Bearer " + token },
          "dataSrc": "region"
        }
      }).on('completed', function() {
        var selectedVal = $('#regionid').data('value');
        console.log("selectedVal ", selectedVal);
        if (selectedVal) {
          $("#regionid option[value='" + selectedVal + "']").prop('selected', true);
        }
        $('#regionid').selectpicker('refresh');
      });

      $("#regionid").change(function(){
        var selected = $('#regionid option:selected').val();
        console.log("selected ", selected);
        $('#cityid').empty();
        
        $('#cityid').Template({
          "template": "<option value='${=id}'>${=cityname}</option>",
          "ajax": {
            "url": "/api/city?filter=regionid,eq," + selected,
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "city"
          }
        }).on('completed', function() {
          var selectedVal = $('#cityid').data('value');
          if (selectedVal) {
            $('#cityid').selectpicker('val', selectedVal);
          }
          $('#cityid').selectpicker('refresh');
        });
      });

      $("select#cityid").Template({
        "template": "<option value='${=id}'>${=cityname}</option>",
        "ajax": {
          url: "/api/city",
          "headers": { "authorization": "Bearer " + token },
          "dataSrc": "city"
        }
      }).on('completed', function() {
        var selectedVal = $('#cityid').data('value');
        console.log("selectedVal ", selectedVal);
        if (selectedVal) {
          $("#cityid option[value='" + selectedVal + "']").prop('selected', true);
        }
        $('#cityid').selectpicker('refresh');
      });

      //- $("#mobile").on('change keyup',function(e){
      //-   e.target.value = e.target.value.replace(/[^\d]/, "");
      //-   //- console.log("e.target.value >>", e.target.value);
      //-   //- console.log("e.target.value.length >>", e.target.value.length);
      //-   //- if (e.target.value.length === 11) {
      //-   //-   var ph = e.target.value.split("");
      //-   //-   console.log("ph >>", ph);
      //-   //-   ph.splice(3, 0, "-"); 
      //-   //-   ph.splice(7, 0, "-");
      //-   //-   console.log("ph1 >>", ph);
      //-   //-   $("#mobile-no").html("Must be Mobile Phone No !! ").addClass('text-danger').hide();
      //-   //- }
      //- });

      //- $("#phone").on('change keyup',function(e){
      //-   e.target.value = e.target.value.replace(/[^\d]/, "");
      //-   //- if (e.target.value.length === 11) {
      //-   //-   var ph = e.target.value.split("");
      //-   //-   ph.splice(3, 0, "-"); ph.splice(7, 0, "-");
          
      //-   //-   $("#mobile-no").html("Must be Mobile Phone No !! ").addClass('text-danger').hide();
      //-   //- }
      //- });

      $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });


      $('#entryForm').submit(function(event) {
        event.preventDefault();

        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: $(this).formSerialize(),
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          processData: false,
          success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for (var key in params) {
                  postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                }
              }
              window.setTimeout(function() {
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });
    });