//- extends ../../includes/layout-dashboard
doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    title= title
    
    link(rel="shortcut icon", href="/img/time.png")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/fontawesome-all.min.css')
    link(rel='stylesheet', href='/css/datatables.css')
    link(rel='stylesheet', href='/css/datatables.custom.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker.standalone.css')
    link(rel="stylesheet", href='/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='/css/bootstrap-select.css')
    link(rel='stylesheet', href='/css/dropzone.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/tagsinput.css')
    link(rel='stylesheet', href='/css/buttons.dataTables.min.css')

    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/date-and-time.min.js')
    script(src='/js/purl.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/datatables.min.js')
    script(src='/js/datatables.render.date.js')
    script(src='/js/bootstrap-datepicker.js')
    script(src='/js/bootstrap-timepicker.js')
    script(src='/js/bootstrap-select.js')
    script(src='/js/dropzone.min.js')
    script(src='/js/jquery.template.js')
    script(src='/js/jquery.form.min.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/tagsinput.js')
    script(src='/js/dataTables.buttons.min.js')
    script(src='/js/jszip.min.js')
    script(src='/js/buttons.html5.min.js')
    script(src='/js/pdfmake.min.js')
    script(src='/js/vfs_fonts.js')
    
    
  body

    block content
      h1.page-header Force Update
      div.row.from-wrapper
        div.alert.alert-dismissible#alert(role='alert')
          strong.alert-title#alertTitle
          span#alertMessage
          button.close(type='button', data-hide='alert', aria-label='Close')
            span(aria-hidden='true') &times;

        form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded")
          input#recordid(type='hidden', name='id', value=params.id)     

          div.form-group.row
            label.col-sm-2.control-label(for='versioncode') Version Code
            div.col-sm-10
              input.form-control#versioncode(type="text", name="versioncode", value=params.versioncode required)

          div.form-group.row
            label.col-sm-2.control-label(for='buildnumber') Build Number
            div.col-sm-10
              input.form-control#buildnumber(type="text", name="buildnumber", value=params.buildnumber required)

          div.row.justify-content-center.form-actions
            button#submit.btn.btn-primary(type='submit', role='button') Save
            a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

        form#postSuccessForm(method='GET', action=listUrl)

  script.
    $(document).ready(function() {
      var token = "!{token}";
      $("#alert").hide();
  
      $('#entryForm').submit(function(event) {
        event.preventDefault();

        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: $(this).formSerialize(),
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          processData: false,
          success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for (var key in params) {
                  postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                }
              }
              window.setTimeout(function() {
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });
    });
