extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item.active
      span Monthly Order Report
  h1.page-header Monthly Order Report

  input(id="customer", type="hidden", value=data)

  form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded", autocomplete='off')
    div.form-group.row
        label.col-sm-2.control-label(for='startdate') Start Month
        div.col-sm-10
          input.form-control.fromdate#start(type='text', name='start', required)
          input#startdate(type="hidden", name="startdate", value="startdate")

    div.form-group.row
      label.col-sm-2.control-label(for='enddate') End Month
      div.col-sm-10
        input.form-control.todate#end(type='text', name='end', required)
        input#enddate(type="hidden", name="enddate", value="enddate")

    div.form-group.row
      label.col-sm-2.control-label(for='customerid') Customer
      div.col-sm-10
        select.form-control.mm.selectpicker#customerid(name='customerid', value=params.customerid, data-value=params.customerid, data-live-search="true", data-size="8", required)
          option(value="") [Select one]

    div.form-group.row
      label.col-sm-2.control-label(for='status') Status
      div.col-sm-10
        select.form-control.mm.selectpicker#status(name='status', value=params.status, data-value=params.status, data-live-search="true", data-size="8")
          option(value="all") All
          option(value="new") New Order
          option(value="rejected") Rejected
          option(value="accepted") Accepted
          option(value="delivered") Delivered
          

    div.row.justify-content-center.form-actions
      button.btn.btn-primary#loadBtn(type='button', role='button') Load     

  
  div.table-responsive
    table#list.table.table-striped
      thead
        tr
          th SrNo.
          th Date
          th Order No.
          th Status
          th Total Qty
          th(id="netamount") Net Amount
          th(id="action") Action
      tbody
      tfoot
        tr
          th 
          th 
          th 
          th
          th Total Net Amount
          th(id="totalnet", colspan=2) 
        
  script.
    $(document).ready(function() {
      var token = "!{token}";
      console.log("token ", token);
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-monthly-order-report').addClass('active');
      $('div#report_subitems').addClass('show');
      var access = ("#{permission.access}").split(",");
      if (access[1] != "1") $("#action").hide();

      $.fn.dataTable.ext.errMode = 'none';
      //- var table;

      let current = new Date();
      let month = current.getMonth() + 1;
      const year = current.getFullYear();
      let endday = current.getDate();
      //- month = current.getMonth()+1 + "-" + current.getFullYear();
      if (month < 10)
        month = "0" + month;
      if (endday < 10)
        endday = "0" + endday;
      
      const showcurrent = month + "-" + year;
      const hiddencurrent = endday + "-" + showcurrent;
      $("#startdate").val("01-"+showcurrent);
      $("#start").val(showcurrent);
      $("#enddate").val(hiddencurrent);
      $("#end").val(showcurrent);

      $("#start").datepicker( {
        format: "mm-yyyy",
        viewMode: "months", 
        minViewMode: "months"
      });

      $("#end").datepicker( {
        format: "mm-yyyy",
        viewMode: "months", 
        minViewMode: "months"
      });

      $("#customerid").Template({
        "template": "<option value='${=id}'>${=name}</option>",
        "ajax": {
          url: "/api/customer",
          "headers": { "authorization": "Bearer " + token },
          "dataSrc": "customer"
        }
      }).on('completed', function() {
        var selectedVal = $('#customerid').data('value');
        if (selectedVal) {
          // $("#customerid option[value='" + selectedVal + "']").prop('selected', true);
          $("#customerid").selectpicker('val', selectedVal);
        }
        $('#customerid').selectpicker('refresh');
      });

      $("#loadBtn").on('click', function(event){
        const data = {
          customerid: $("#customerid").val(),
          startdate: $("#startdate").val(),
          enddate: $("#enddate").val(),
          status: $("#status").val()
        };
        console.log("load data ", data);
        reload(data);
      })

      $("#start").on('change', function(event){
        var startDate = $("#start").val();
        startDate = "01-" + startDate;
        $("#startdate").val(startDate);
      });

      $("#end").on('change', function(event){
        var end = $("#end").val();
        var monthyear = end.split("-");
        var month = monthyear[0];
        var year = monthyear[1];
        var endDate;
        if (month == "02") {
          if (year%4 == 0) {
            endDate = "29-" + end;
          } else {
            endDate = "28-" + end;
          }
        } else if (month == "09" || month == "04" || month == "06" || month == "11") {
          endDate = "30-" + end;
        } else {
          endDate = "31-" + end;
        }
        $("#enddate").val(endDate);
      });

      function reload(data) {
        var table = $('table#list').DataTable({
          destroy: true,
          "fixedHeader" : {
            "headerOffset": 50
          },
          ajax: { 
            "url": "/api/orderview/getMonthlyReport?startdate="+data.startdate+"&enddate="+data.enddate+"&customerid="+data.customerid+"&status="+data.status,
            "type": "POST",
            "headers": {"authorization": "Bearer " + token},
            //- "dataSrc": data
          },
          columns: [
              { "data": "id" },
              { "data": "date"},
              { "data": "ordercode" },
              { "data": "status" },
              { "data": "totalqty" },
              { "data": "netamount" },
              { "data": "actions", "className": "nowrap" }
          ],
          columnDefs: [
            { targets: 0, render: dataTableIndexRenderer(), orderable: false },
            { targets: 1, render: dataTableDateRenderer(), orderable: false },
            { targets: 3, render: dataTableStatusRenderer() },
            { targets: [2, 4], orderable: false },
            { targets: 5, render: dataTableNetAmountWithCommas(), orderable: false },
            { targets: 6, orderable: false, render: dataTableMonthlyReportDetailActionsRenderer("./monthly-order-report/detail", "#{permission.access}") }
          ],
          //- responsive: true,
          lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
          //- dom: 'lBftip',
          dom: "<'row'<'col-sm-12 col-md-12 mb-1'B>>" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
          
          // total net amount
          "footerCallback": function(row, data, start, end, display) {
            var api = this.api();
          
            api.columns('#netamount', {
              page: 'current'
            }).every(function() {
              var currentSum = this
                .data()
                .reduce(function(a, b) {
                  //- console.log(`a>> ${a} , b>> ${b}`);
                  var x = a || 0;
                  var y = b || 0;
                  return x + y;
                }, 0);
              console.log(currentSum);
              $("#totalnet").html(TotalNetAmountWithCommas(currentSum));
            });

            api.columns('#netamount', {
              page: 'all'
            }).every(function() {
              var allSum = this
                .data()
                .reduce(function(a, b) {
                  //- console.log(`a>> ${a} , b>> ${b}`);
                  var x = a || 0;
                  var y = b || 0;
                  return x + y;
                }, 0);
              console.log(allSum);
              $("#totalnet").append(` ( All - ${TotalNetAmountWithCommas(allSum)} )`);
            });
          },

          buttons: [
            {
              extend: 'excel',
              footer: true,
              text: 'Excel',
              charset: 'utf-8',
              className: 'success-excel',
              filename: 'Monthly Order Report',
              exportOptions: {
                columns: [ 0, 1, 2, 3, 4, 5 ]
              },
              title: 'Monthly Order Report',
              footer: true
            }, 
          ],

        });
        
        return table;
      }

      
    });