extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/notification") Notification
    li.breadcrumb-item.active
      span Entry
  h1.page-header Notification Entry
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close', enctype="application/x-www-form-urlencoded")
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, autocomplete='off')
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)

      div.text-right#noti-name          
      div.form-group.row
        label.col-sm-2.control-label(for='title') Title
        div.col-sm-10
          input.form-control.mm#title(type='text', name='title', value=params.title)

      div.form-group.row
        label.col-sm-2.control-label(for='description') Description
        div.col-sm-10
          textarea.form-control.mm.info#description(name='description')= params.description

      div.row.justify-content-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Send
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)

  script(src='/js/upload.js')
  script(src='/js/scripts-upload.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-notification').addClass('active');
      $('div#general_subitems').addClass('show');

      $("#alert").hide();
      $("#noti-name").hide();

      $("#title").on("change keyup", function(){

        var recordid = $("#recordid").val();
        var title = $("#title").val();
        $.ajax({
          url: "/api/notificationview/getNotification?title=" + title + "&recordid=" + recordid,  
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            console.log("result ", result);
            if (result == true) {
              $("#noti-name").html("Already Exist!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            } else {
              $("#noti-name").hide();
              submitBtn.removeAttribute("disabled");
            }
            
          }   
        })
      });

      $('#entryForm').submit(function(event) {
        event.preventDefault();

        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: $(this).formSerialize(),
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          processData: false,
          success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for (var key in params) {
                  postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                }
              }
              window.setTimeout(function() {
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });
    });