extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/order-noti") Order Noti Format
    li.breadcrumb-item.active
      span Entry
  h1.page-header Order Noti Format Entry
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded", autocomplete='off')
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#statusname(type='hidden', name='statusname', value=statusname)

      div.text-right#status-name
      div.form-group.row
        label.col-sm-2.control-label(for='status') Status
        div.col-sm-10
          select.form-control.selectpicker#status(name='status', value=params.status, data-value=params.status, data-live-search="true", data-size="8", required)
            option(value="") [Select one]
            option(value='New') New
            option(value='Reply') Reply
            option(value='Accept') Accept
            option(value='Reject') Reject
            option(value='Delivery-Self') Delivery-Self
            option(value='Delivery-Bus') Delivery-Bus

      div.form-group.row
        label.col-sm-2.control-label(for='notiformat') Noti Format
        div.col-sm-10
          textarea.form-control.mm#notiformat(name='notiformat')= params.notiformat

      div.row.justify-content-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)

  script(src='/js/upload.js')
  script(src='/js/scripts-upload.js')
  script.
    $(document).ready(function() {
      var token = "!{token}";

      
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-order-noti').addClass('active');
      $('div#general_subitems').addClass('show');

      $("#alert").hide();

      $("#status-name").hide();
      $("#status").on('change keyup',function(){
        console.log("status key up ");
        var ori_status = $("#statusname").val();
        console.log("statusname ", ori_status);
        ori_status = JSON.parse(ori_status);
        var new_status = $("#status").val();
        var isExit = false;
        var submitBtn = document.getElementById("submitBtn");
        
        ori_status.forEach(status => {
          if (!isExit) {
            if (status.status == new_status) {
              isExit = true;
              $("#status-name").html("Already Exist!").addClass('text-danger').show();
              
              submitBtn.setAttribute("disabled", "");
            }
          }
        })
        if (!isExit) {
          $("#status-name").html("Already Exist!").addClass('text-danger').hide();
          $("#category-name").hide();
          submitBtn.removeAttribute("disabled");
        }
      });

      $("select#status").Template({
        "template": "<option value='new'>New</option><option value='reply'>Reply</option><option value='accept'>Accept</option><option value='reject'>Reject</option><option value='delivery'>Delivery</option>"
      }).on('completed', function() {
        var selectedVal = $('#status').data('value');
        console.log("selectedval ", selectedVal);
        if (selectedVal) {
          $("#status option[value='" + selectedVal + "']").prop('selected', true);
        }
        $('#status').selectpicker('refresh');
      })

      $('#entryForm').submit(function(event) {
        event.preventDefault();

        $.ajax({
          url: $(this).attr("action"),
          type: $(this).attr("method"),
          data: $(this).formSerialize(),
          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
          processData: false,
          success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for (var key in params) {
                  postFrm.append($('<input type="hidden" name="' + key + '" value="' + params[key] + '" />'));
                }
              }
              window.setTimeout(function() {
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });
    });
  