doctype html
html
    head
        meta(charset='utf-8')
        meta(content='IE=edge', http-equiv='X-UA-Compatible')
        meta(content='width=device-width,initial-scale=1', name='viewport')
        title= title
        style.
            #table {
                width: 100%; 
                border-collapse: collapse;
            }
            th,td {
                padding: 10px;
            }
            #title {
                font-weight: bold;
            }
            #img{
                width: 100%; 
                border-collapse: collapse;
                height: 3.81cm;
            }
        
        //- link(rel="shortcut icon", href="/img/favicon.png")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/fontawesome-all.min.css')
        link(rel='stylesheet', href='/css/datatables.css')
        link(rel='stylesheet', href='/css/datatables.custom.css')
        link(rel='stylesheet', href='/css/bootstrap-datepicker.standalone.css')
        link(rel='stylesheet', href='/css/bootstrap-select.css')
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
        
        // Chart.js
        link(rel='stylesheet', href='/css/Chart.css')
        link(rel='stylesheet', href='/css/Chart.min.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')


        script(src='/js/jquery-3.3.1.min.js')
        script(src='/js/date-and-time.min.js')
        script(src='/js/purl.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/datatables.min.js')
        script(src='/js/datatables.render.date.js')
        script(src='/js/bootstrap-datepicker.js')
        script(src='/js/bootstrap-select.js')
        script(src='/js/jquery.template.js')
        script(src='/js/jquery.form.min.js')
        script(src='/js/jquery.validate.min.js')
        script(src='/js/dataTables.buttons.min.js')
        script(src='/js/buttons.html5.min.js')
        script(src='/js/buttons.flash.min.js')
        // Chart.js
        //- script(src='/js/Chart.bundle.js')
        script(src='/js/Chart.bundle.min.js')
        script(src='/js/Chart.js')
        script(src='/js/Chart.min.js')
        script(src='/js/jquery-autocomplete.min.js')
        //- script(src="print.js")
block content   

    div.col-md-offset-4.form-actions
        div.row.justify-content-center.form-actions
            button.btn.btn-primary#print(type="button") Print
            a.btn.btn-secondary#actionBack(href=listUrl, role='button') Back 

    br
    
    form
        input#rowid(type="hidden", name="id", value=params.id)
        input#customerid(type="hidden", name="customerid", value=params.customerid)
        input#ordercode(type="hidden", name="ordercode", value=params.ordercode)

        div
            div.table-responsive.printpadding
                table.image#img
                    thead
                        tr
                            td(style="width:20%; text-align:right")
                                img.form-image.thumbnail.img-responsive#imgImage(src="./img/Asset 6.png", alt="Image")
                            td.mm.title.textheader(style="width:50%;") J Mahar
                                br
                                span.fontheader.textheader China Car and Dump Truck Spare Parts
                                br
                                span.fontalign.mm အဆောင်(၂၇)၊အခန်း(၅)၊ပွဲရုံနှစ်ထပ်တိုက်၊ချမ်းမြရွှေပြည်ကားပစ္စည်းများ၊ကျွဲဆည်ကန်၊မန္တလေးမြို့ ။

                
                h5.page-header.text-center#title
                    u Order New Preview
                
                table.print.printtop#table
                    thead
                        tr
                            td(style="width:10%; text-align:left") Order No.
                            td(style="text-align:left")
                                strong=params.ordercode
                            td.mm(style="width:10%; text-align:left") Date
                            td.number(style="text-align:left")=params.date
                        tr
                            td.mm(style="width:10%; text-align:left") Customer Code
                            td.mm(style="text-align:left")=params.code
                            td.mm(style="width:10%; text-align:left") Customer Name
                            td.mm(style="text-align:left")=params.name
                        tr
                            td.mm(style="width:10%; text-align:left") Phone
                            td.number(style="width:20%; text-align:left")=params.mobile + "   " + params.phone
                            td.mm(style="width:10%; text-align:left") Address
                            td.mm(style="width:30%; text-align:left")=params.address

                br
                table.print#table
                    thead
                        tr
                            th.mm(style="border: 1px solid; text-align:center") No
                            th.mm(style="border: 1px solid; text-align:center") Code
                            th.mm(style="width:40%; border: 1px solid; text-align:center") Name
                            th.mm(style="width:9%; border: 1px solid;text-align:center") Order Qty
                            th.mm(style="width:15%; border: 1px solid; text-align:center") Price
                            th.mm(style="width:18%; border: 1px solid; text-align:center") Amount
                    tbody
                        - var total = 0, index = 0
                        each i, idx in (params.details || [])
                            tr
                                td(style="border: 1px solid;")
                                    span=++index
                                td.mm(style="border: 1px solid;")
                                    span=i.productcode
                                td.mm(style="border: 1px solid;")
                                    span=i.productname
                                td(style="border: 1px solid;")
                                    span=i.orderqty || 0
                                td.number(style="border: 1px solid; text-align:right")
                                    span=i.price 
                                td.number(style="border: 1px solid; text-align:right")
                                    span=(i.total || 0) 
                        tr
                            td.clear(colspan=4)
                            td(style="border: 1px solid; text-align:center") 
                                strong Net Amount
                            td.number(style="border: 1px solid; text-align:right")
                                strong=(params.netamount)
                                //- strong=(params.netamount) + " MMK"
                table.print#table
                    thead
                        tr
                            td(style="width:10%;") Delivery Type :
                            td.mm(style="text-align:left")
                                strong=params.take_way
                            
                        tr
                            td.mm(style="width:10%;") Car Gate  :
                            td.mm(style="text-align:left")=params.cargatename
                            
                        tr
                            td.mm(style="width:10%;") Remark :
                            td.mm(style="width:50%; text-align:left")=params.remark 
                        

    script.
        $(document).ready(function() {
            var access = ("#{permission.access}").split(",");
            if (access[1] != "1") $("#actionReply").hide();
            var id = $("#rowid").val();
        
            $("#print").on('click',function(){
                $("#print").hide();
                $("#actionBack").hide();
                //- $("#title").hide();
                window.print();
                $("#print").show();
                $("#actionBack").show();
                $("#title").show();
            });

        });
    
    