extends ../../includes/layout-dashboard
block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/order-new") Order
    li.breadcrumb-item.active
      span Detail
  h1.page-header Order Detail
  input#rowid(type="hidden", name="id", value=params.id)
  input#customerid(type="hidden", name="customerid", value=params.customerid)
  input#ordercode(type="hidden", name="ordercode", value=params.ordercode)
  //- input#permission(type="hidden", name="permission", value=params.permission.access)
  div.table-responsive
    - var total = 0, index = 0
    table#listItems.table.table-striped.table-bordered
      thead
        tr
          th #
          th Code
          th Name
          th Price
          th Order Qty
          th Reply Qty
          th Amount
      tbody
        each i, idx in (params.details || [])
          tr
            td=++index
            td.mm
              span=i.productcode
            td.mm
              span=i.productname
            td.number=i.price + " MMK"
            td=i.orderqty || 0
            td=i.replyqty || 0
            td.number=(i.total || 0) + " MMK"
        tr
          td.clear(colspan=5)
          td(lang='en')
            strong Net Amount
          td.number
            strong=(params.netamount) + " MMK"
        
  div.from-wrapper
    h4 
      u Customer Information
    div.row
      label.col-md-3 Name
      div.col-md-9=params.name
    div.row
      label.col-md-3 Phone
      div.col-md-9=params.phone
    div.row
      label.col-md-3 Delivery Type
      div.col-md-9.mm=params.take_way
    div.row
      label.col-md-3 Car Gate 
      div.col-md-9=params.cargatename
    div.row
      label.col-md-3 Remark
      div.col-md-9.mm=params.remark
    br
    div.col-md-offset-4.form-actions
      div.row.justify-content-center.form-actions
        if params.status == "new"
          button.btn.btn-warning#actionReply(type='submit', role='button', data-toggle="modal", data-target="#modalReply") Reply
          a.btn.btn-primary.list-action#preview(href="/order-new-preview" , role='button') Preview
          a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel
        else 
          a.btn.btn-primary.list-action#preview(href="/order-new-preview" , role='button') Preview
          a.btn.btn-secondary#actionBack(href=listUrl, role='button') Back
        
    br
  div.modal.fade#modalReply(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h4.modal-title Reply
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body
          div.alert.alert-dismissible#alert(role='alert')
            strong.alert-title#alertTitle
            span#alertMessage
            button.close(type='button', data-hide='alert', aria-label='Close')
              span(aria-hidden='true') &times;
          - index=0
          table.table.table-bordered
            thead
              th #
              th Code
              th Name
              th Price
              th Order Qty
              th Reply Qty
            tbody
              each i, index in params.details
                tr
                  td=index+1
                    input(type="hidden", id="orderitemid_"+i.id, name="orderitemid", value=i.orderitemid)
                  td.mm
                    span=i.productcode
                    //- input(type="hidden", id="product_"+i.id, name="product_"+i.id, value=i.productcode)
                  td.mm
                    span=i.productname
                    input(type="hidden", id="product_"+i.id, name="product_"+i.id, value=i.productid)
                  td.number=i.price
                    input(type="hidden", id="price_"+i.id, name="price_"+i.id, value=i.price)
                  td.number=i.orderqty || 0
                    input(type="hidden", id="orderqty_"+i.id, name="orderqty_"+i.id, value=i.orderqty)
                  td.mm.detail-aval
                    span.btn-group.avalqty(id="avalible_product_"+i.id, data-id=i.id, data-type="product")
                        label.btn.btn-default
                        input(type="radio", name="avalible_product_"+i.id, value=1, checked=true)
                        span.detail-text| အားလုံးရပါသည်။
                        label.btn.btn-default
                        input(type="radio", name="avalible_product_"+i.id, value=2)
                        span.detail-text| မရပါ။
                        label.btn.btn-default
                        input#rdoreply(type="radio", name="avalible_product_"+i.id, value=3)
                        input.qty-number#reply_qty(type="text", name="avalible_product_qty_"+i.id, role="number", style="height:50%", value=(i.count || 0))
                        span.detail-text| ခုပဲ ရပါသည်။
                  
            
          div.form-horizontal.bs-form
            div.form-group.row
              label.col-sm-2.control-label(for='netamount') Net Amount 
              div.col-sm-6.input-group
                input.form-control#netamount(type='text', name='netamount', value=params.netamount, maxlength="10", role="number", readonly)
                div.input-group-append
                  span.input-group-text MMK
            div.form-group.row
              label.col-sm-2.control-label(for='reply_remark') Reply Remark
              div.col-sm-10
                textarea.form-control.mm.info#reply_remark(name='reply_remark')= params.reply_remark

        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary#btnModelSave(type="button") Save
  
  script(src='/js/order-new-detail.js')
  //- script.
  //-   var access = ("#{permission.access}").split(",");
  //-   if (access[1] != "1") $("#actionReply").hide();
  