extends ../../includes/layout-dashboard
block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/order-accepted") Order Accepted
    li.breadcrumb-item.active
      span Detail
  h1.page-header Order Detail
  input#rowid(type="hidden", name="id", value=params.id)
  input#customerid(type="hidden", name="customerid", value=params.customerid)
  input#ordercode(type="hidden", name="ordercode", value=params.ordercode)
  //- input#permission(type="hidden", name="permission", value=params.permission.access)
  div.table-responsive
    - var total = 0, index = 0
    table#listItems.table.table-striped.table-bordered
      thead
        tr
          th #
          th Code
          th Name
          th Price
          th Order Qty
          th Reply Qty
          th Amount
      tbody
        each i, idx in (params.details || [])
          tr
            td=++index
            td.mm
              span=i.productcode
            td.mm
              span=i.productname
            td.number=i.price + " MMK"
            td=i.orderqty || 0
            td=i.replyqty || 0
            td.number=(i.total || 0) + " MMK"
        tr
          td.clear(colspan=5)
          td(lang='en')
            strong Net Amount
          td.number
            strong=(params.netamount) + " MMK"
        
  div.from-wrapper
    h4 
      u Customer Information
    div.row
      label.col-md-3 Name
      div.col-md-9=params.name
    div.row
      label.col-md-3 Phone
      div.col-md-9=params.phone
    div.row
      label.col-md-3 Delivery Type
      div.col-md-9.mm=params.take_way
    div.row
      label.col-md-3 Car Gate 
      div.col-md-9=params.cargatename
    div.row
      label.col-md-3 Remark
      div.col-md-9.mm=params.remark
    br
    div.col-md-offset-4.form-actions
      div.row.justify-content-center.form-actions
        a.btn.btn-primary.list-action#preview(href="/order-accept-preview" , role='button') Preview
        a.btn.btn-secondary#actionBack(href=listUrl, role='button') Back
    br
  script.
    $(document).ready(function() {
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-order-accepted').addClass('active');
      $('div#order_subitems').addClass('show');
      $("#alert").hide();
    });