extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/region") Region
    li.breadcrumb-item.active
      span Entry
  h1.page-header Region Entry
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, autocomplete='off')
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      //- input#regions(type='hidden', name='regions', value=regions)

      div.text-right#region-name
      div.form-group.row
        label.col-sm-2.control-label(for='region') Region
        div.col-sm-10
          input.form-control.mm#region(type='text', name='region', value=params.region, required autofocus)

      div.form-group.row
        label.col-sm-2.control-label(for='description') Description
        div.col-sm-10
          input.form-control.mm#description(type='text', name='description', value=params.description)

      div.row.justify-content-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-region').addClass('active');
      $('div#general_subitems').addClass('show');

      $("#alert").hide();

      $("#region-name").hide();

      $("#region").on("change keyup", function(){

        var recordid = $("#recordid").val();
        var region = $("#region").val();
        $.ajax({
          url: "/api/regionview/getRegions?region=" + region + "&recordid=" + recordid,  
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            console.log("result ", result);
            if (result == true) {
              $("#region-name").html("Already Exist!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            } else {
              $("#region-name").hide();
              submitBtn.removeAttribute("disabled");
            }
            
          }   
        })
      })

      //- $("#region").on('change keyup',function(){
      //-   var ori_region = $("#regions").val();
      //-   console.log("ori region ", ori_region);
      //-   ori_region = JSON.parse(ori_region);
      //-   var new_region = $("#region").val();
      //-   var isExit = false;
      //-   var submitBtn = document.getElementById("submitBtn");
        
      //-   ori_region.forEach(region => {
      //-     if (!isExit) {
      //-       if (region.region == new_region) {
      //-         isExit = true;
      //-         $("#region-name").html("Already Exist!").addClass('text-danger').show();
              
      //-         submitBtn.setAttribute("disabled", "");
      //-       }
      //-     }
      //-   })
      //-   if (!isExit) {
      //-     $("#region-name").hide();
      //-     submitBtn.removeAttribute("disabled");
      //-   }
      //- });

      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });